// - - - - - - - - - - - - - - - - - -

// Home

// - - - - - - - - - - - - - - - - - -

.expanded {
  padding: 72pt 0; 
}

.expanded__inner {
  -js-display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 992px) {
    .expanded__inner {
      flex-direction: row; }
}

.expanded__media {
  order: 1;
  text-align: center; }
  @media (min-width: 992px) {
    .expanded__media {
      width: 50%;
      flex-shrink: 0;
      order: unset; }
}

.expanded__content {
  order: 2; }
  @media (min-width: 992px) {
    .expanded__content {
      padding: 0 16pt;
      width: 50%;
      flex-shrink: 0;
      order: unset; } 
}

.expanded:nth-child(even) .expanded__media {
  order: 1; }
  @media (min-width: 992px) {
    .expanded:nth-child(even) .expanded__media {
      order: 1; } 
}

.expanded__image {
  width: 90%;
  max-width: 220px;
  padding: 16pt 0; }
  @media (min-width: 992px) {
    .expanded__image {
      max-width: 280px; } 
}

.expanded__title {
  max-width: 550px; 
}

.expanded__text {
  max-width: 60ch;
} 

.landing__section {
  padding: 24pt 0; 
}

.landing__section:nth-child(odd) {
  background-color: #f7f7f7;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
